@inject IHttpClientFactory ClientFactory
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, user!</h1>

<p>Input your annual salary then click "Calculate" to get a breakdown of how much tax you might pay.</p>

<InputNumber @bind-Value="Salary" />

<button @onclick="Calculate">Calculate</button>


@code {
    private decimal Salary { get; set; }

    private async Task Calculate()
    {
        var client = ClientFactory.CreateClient("TaxService");

        var response = await client.PostAsJsonAsync("/TaxCalculator/GetTaxBreakdown", new { Date = DateTime.Now, Salary });

        var resultText = response.Content.ReadFromJsonAsync<object>();
    }
}